.djBackground {
    width: 90%;
    min-height: 280px;
    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(0,0,0,1) 3%, rgba(12,159,150,0.7990546560421043) 30%, rgba(230,170,18,1) 100%);
    background: -webkit-linear-gradient(to right, rgba(0,0,0,1) 3%, rgba(12,159,150,0.7990546560421043) 30%, rgba(230,170,18,1) 100%);
    background: -moz-linear-gradient(to right, rgba(0,0,0,1) 3%, rgba(12,159,150,0.7990546560421043) 30%, rgba(230,170,18,1) 100%);
    background: -o-linear-gradient(to right, rgba(0,0,0,1) 3%, rgba(12,159,150,0.7990546560421043) 30%, rgba(230,170,18,1) 100%);    
}
