

.runner {
    font-size: 10vh;
    animation-name: runner;
    animation-duration: 4s;
    right: 0;
    -webkit-animation: runner 1 2 forwards;
    animation: runner 1 2 forwards; 
}

@-webkit-keyframes runner {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes runner {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}
